<link rel="stylesheet" href="../assets/css/welcome.css">

<div class="wrapper">
    <main>
        <h1>Здраствуйте, для входа в систему неообходимо авторизоваться</h1>
        <div class="button">
            <a href="users/login">ВОЙТИ</a>
        </div>
    </main>
</div>